---
import Index from "../layouts/Layout.astro";
const posts = await Astro.glob("./blog/*.md");
---

<Index>
  <h1>{Astro.url.host}</h1>
  {
    posts.map((post) => (
      <a href={post.url}>
        <p>{post.frontmatter.title}</p>
      </a>
    ))
  }
</Index>
